
html, body, p, div, h2 {
	font-family: Verdana, Arial, Tahoma;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	display: block;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

body {
	background: #32373D;
}

img {
	border: 0;
}

br.clear {
	clear: both;
	margin-top: -15px;
}

a {
	outline: none;
	text-decoration: none;
}

.justificado {
	text-align: justify;
}

.border {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	display: block;
	position: relative;
}

#header {
	/* background: #F47D0C url(../images/header.jpg) repeat-x; */
	height: 130px;
	float: left;
	width: 100%;
	position: relative;
}

#header .border {
	background: #F47D0C url(../images/header.jpg) repeat-x;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	
	behavior: url(border.htc);

}

#press {
	width: 100%;
	display: block;
	height: 90px;
}

#press #logo {
	display: block;
	float: left;
	background: url(../images/logoayudamutua.png) no-repeat;
	width: 240px;
	height: 85px;
	margin-left: 20px;	
}

#press #logomenu {
	display: block;
	float: right;
	width: 480px;
	margin-right: 200px;
	margin-top: 15px;
	text-align: left;
}

#logomenu ul {
	list-style: none;
	background: #3277de;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3277de),color-stop(1, #0b48a4));
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9C9C9C;
	box-shadow: 0 2px 1px #9C9C9C;

	padding-top: 5px;
	padding-bottom: 5px;

	behavior: url('border.htc');
	


}

#logomenu li {
	display: inline;
	margin-right: 45px;
}

#logomenu li a:link, #logomenu li a:visited, #logomenu li a:hover {
	margin: 0;
	padding: 0 3px 10px 3px;
	color: #FFF;
	font-size: 13px;
	/* font-family: Tahoma, Geneva, sans-serif;	*/
}

#logomenu li a:hover {
	margin: 0;
	padding: 0 3px 10px 3px;
	color: #FFF;
	/* border-bottom: 2px solid #FFF; */
	font-size: 13px;
	font-weight: bold;
}


#menu {
	width: 100%;
	display: block;
	padding: 0px;
	height: 30px;

}

#menu ul {
	margin: 0;
	padding: 0;

}

#menu li {
	display: inline;
}

#menu li a:link, #menu li a:visited {
	font-size: 13px;  
	text-decoration: none;  
	float:left;  
	padding: 7px 30px 5px;  
	color: #f37320; 
}

#menu li a:hover,#menu li a:active, #menu li a.linkactivo {
	background: #3277DE url(../images/menuazul.jpg) repeat-x;
	color: #FFF;
	font-weight: bold;
}

#menu li a.izq {
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}

#content {
	float: left;
	width: 100%;
	position: relative;
}

#content .border {
	background: #EFEFEF;
	--webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* #content #contenedor.container, #content #menuright.container, #content #banners.container { */
#content #contenedor.container, #content #menuright.container {
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-height: 450px;	
}

#contenedor {
	width: 630px;
	float: left;
	background: #FFF;
}

#contenedor .bloques {
	padding: 10px 20px;
	border-bottom: 1px solid #EFEFEF;
	min-height: 430px;
}

#contenedor .bloques h2 {
	color: #3277DE;
	margin-bottom: 5px;
}

#contenedor .bloques .meta {
	color: #3277DE;
	border-bottom: 1px solid #EFEFEF;
	font-weight: bold;
	/* font-size: 10px; */
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#contenedor .bloques .meta span {
	padding: 15px 0 15px 30px;
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
}

#contenedor .bloques .meta span.alias {
	background: url(../images/ico03.gif) left center no-repeat;
}

#contenedor .bloques .meta span.otro {
	background: url(../images/ico02.png) left center no-repeat;
}

#contenedor .bloques .meta span.seccion {
	background: url(../images/ico04.gif) left center no-repeat;
}


#contenedor h2.titulouno {
	margin: 0;
	padding: 5px 0 26px 0;
	font-weight: normal;
	font-family: Arial, Helvetica;
	font-size: 24px;
	color:  #E37D29;
}

#contenedor h2.titulodos {
	margin: 0;
	padding: 5px 0 16px 10px;
	font-weight: normal;
	font-family: Arial, Helvetica;
	font-size: 20px;
	color: #E37D29;
}

#contenedor p, ul {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #3F4951;
	line-height: 1.5em;
}

#menuright {
	width: 270px;
	float: right;
	background: #EFEFEF;
	margin: 0;
	padding: 0 0 16px 0;
}

h2.titulotres {
	display: block;
	margin: 0 0 15px 10px;
	color: #E37D29;
	font: bold 1.8em Tahoma, Helvetica, Arial;
}



#menuright ul {
	background: url(../images/fondoweb.jpg);
	-webkit-box-shadow: 1px 1px 5px  #333333;/*rgba(0, 0, 0, .3);*/
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	margin: 5px 10px 20px 5px;
	padding: 0;
	list-style: none;
	border-radius: 10px;
}

#menuright li {
	display: block;
	height: 29px;
	border-bottom: solid 1px #DDD;
	border-radius: 10px;
}

#menuright li a:link, #menuright li a:visited {
	font-size: 13px;  
	text-decoration: none;  
	padding: 6px 10px 0 10px;  
	color:  #ffffff; 
	display: block;
	height: 22px;
}

#menuright li a:hover {
	background: #FFF;
	color:  #E37D29; 
	border-radius: 10px;
}

#footer {
	height: 80px;
	float: left;

	width: 100%;
	

	position: relative;
}

#footer .border {
	background: #F47D0C url(../images/header.jpg) repeat-x;
}

#footer .left {

	float: left;
	margin-top: 20px;

}

#footer .right {
	float: right;
	margin-top: 20px;
}
/*Boton buscar*/
form#searchform {
	display: block;
	width: 241px;
}
.rightboxBuscar {
background: url(../images/bk_box_mid_right.png) 0 0 repeat-y;
overflow: hidden;
padding: 6px 10px 5px;
}
#searchform input {
border: 1px dashed #CDCDCD;
border-right: none;
width: 130px;
background: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color: #666;
font-style: italic;
float: left;
margin-top: 1px;
padding: 8px 10px 7px;
}
#searchform input.submit {
width: 70px;
height: 39px;
background: url(../images/bk_but_search.jpg) 0 0 no-repeat;
border: none;
margin-top: -2px;
padding: 0;
}
/*Inicio de sesión*/
.cont-sigIn{
	width: 255px;
	padding: 0px 10px 15px;
	float: right;
	border-radius: 10px;
}
.sigIn-box, .accountchooser-box {
margin: 15px 0 0;
padding: 10px 25px 15px;
background: url(../images/fondoweb.jpg);
border: 1px solid #fff;
border-radius: 10px;
color: #fff;
}
.sigIn-box h2 {
font-size: 16px;
line-height: 17px;
height: 16px;
margin: 0 0 1.2em;
position: relative;
}
#formulario{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.button-submit{
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}



/* Carusel de los XV de Chuy */

/*

.jcarousel-clip{
	width: 630px;
	position: relative;
	overflow: hidden;
}
 
.jcarousel-clip li{
	width: 630px;
	float: left;
}
 
.jcarousel-clip li img{
	width: 630px;
	height: 180px;
}
#wrap{
	width: 630px;
	position: relative;
}
 
#prev, #forw{
	padding: 30px 0;
	background: #000;
	text-align: center;
	width: 30px;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-family: arial, sans-serif;
	display: block;
}
#prev{
	position: absolute;
	z-index: 10;
	top: 42%;
}
 
#forw{
	position: absolute;
	z-index: 10;
	right: 0;
	top: 42%;
}
 */
 /*Formulario*/


/* Carusel de los XVI de Chuy */

/*#slider { background: url(http://preview.chocotemplates.com/bizgroup/html/css/images/slider-cnt.gif) repeat-y 0 0; width: 630px;}*/
#slider { background:  url(../images/fondoweb.jpg) repeat-x 0 0; width: 630px;}
#slider .top { background: url(../images/slider-top.gif) no-repeat 0 0; }
#slider .bot { background: url(.../images/slider-bot.gif) no-repeat 0 bottom; position: relative; height: 100%; padding: 0 2px 2px 0; }

#slider .slider-controls { position: absolute; bottom: 10px; right: 10px; z-index: 100; }

#slider-holder { height: 200px; }
#slider-holder .jcarousel-clip { width: 628px; height: 200px; position: relative; overflow: hidden; }
#slider-holder ul { width: 628px; height: 200px; position: relative; overflow: hidden; }
#slider-holder ul li { list-style-type: none; float: left; display: inline; height: 100px; width: 568px; padding: 10px 35px 10px; }
#slider-holder .slide-info { float: left; display: inline; width: 375px; padding-top: 20px; }
#slider-holder .slide-image { float: right; display: inline; }
#slider-holder .slide-info h2 { font-size: 30px; line-height: 1; color: #fff; font-weight: normal; margin-bottom: 8px; }
#slider-holder .slide-info p { font-size: 18px; line-height: 1; color: #fff;  font-weight: normal; margin-bottom: 8px; }

.slider-controls a { float: left; display: inline; font-size: 0; line-height: 0; text-indent: -4000px; width: 10px; height: 10px; margin-left: 2px; }
.slider-controls a { background:url(../images/slider-nav.gif) no-repeat right 0; }
.slider-controls a.active { background-position: 0 0; }

.cl { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

.basicform .rowElem label{
	display: block;
	float: left;
	width: 180px;
}
form.jqtransform .rowElem label{
	width: 180px;
	font-size: 13px; 
	margin-left: 25px;
}
form.jqtransform .rowElem label.radiovalue{
	width:30px;
	display: block;
	float: left;
}
form.jqtransform .rowElem label.checkboxvalue{
	width:70px;
	display: block;
	float: left;
	padding-left: 5px;
}

form.zenform div.rowElem {
	clear: both;
	padding: 4px 0px;
}

form.zenform label {
	margin-top: 4px;
	margin-right: 8px;
	display: block;
	float: left;

	width: 180px;
	font-size: 13px;
	margin-left: 25px;
}

form.zenform input {
	padding: 3px 8px;
}

/*  Menu Cuenta Usuarios */

#logomenucuentausuarios {
	display: block;
	float: left;
	width: 580px;
	height: 70px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: left;
}

#logomenucuentausuarios ul {
	list-style: none;
	background: #3277de;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3277de),color-stop(1, #0b48a4));
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9C9C9C;
	box-shadow: 0 2px 1px #9C9C9C;

	padding-top: 5px;
	padding-bottom: 5px;
}

#logomenucuentausuarios li {
	display: inline;
	margin-right: 45px;
}

#logomenucuentausuarios li a:link, #logomenucuentausuarios li a:visited, #logomenucuentausuarios li a:hover {
	margin: 0;
	padding: 0 3px 10px 3px;
	color: #FFF;
	font-size: 13px;
	/* font-family: Tahoma, Geneva, sans-serif;	*/
}

#logomenucuentausuarios li a:hover {
	margin: 0;
	padding: 0 3px 10px 3px;
	color: #FFF;
	/* border-bottom: 2px solid #FFF; */
	font-size: 13px;
	font-weight: bold;
}